<div class="main_slider" style="background-image: url(/images/slider_1.png);">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6>The Market You Deserve On The Palm Of Your Hands. </h6>
                    <h1>Wellcome To The Future Of Shopping</h1>
                    <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
        <div class="new_arrivals_sorting">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(images/housewares.jpg)">
                    <div class="banner_category">
                        <a href="categories.html">Housewares</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(images/cosmetics.jpg)">
                    <div class="banner_category">
                        <a href="categories.html">Cosmetics</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(images/electronics.jpg)">
                    <div class="banner_category">
                        <a href="categories.html">Electronics</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>